# The Path to the pbf file.
# Create a data directory at the same level as your compose file or you may change if you want but this is how it has been configured here
# Download the .pbf data file into the data directory
# Also load this into your docker volume
PBF_PATH=/data/pathToPBFFile.pbf